

/* -------1920--------- */

@media only screen and (min-width:1920px) {

  .container-fluid {
    width: 1903px;
  }
  .revimgss {
    width: 44% !important;
}
  button.btn.btn-primary.videbttn img {
    width: 65% !important;
}
.secrevtext h4 {
  font-size: 20px;
  }
.secbggser {
  padding: 30px 10px;
}
  .sec-logo-img{
    width: 80% !important;
  }
  .secpaddd {
    padding: 50px 10px 50px 10px;
}
  .teamimg{
    width: 100%;
    height: auto;
}
.secrevtext {
  padding: 20px;
}
.sectestibg {
  background: #fff;
  padding: 50px 20px;
  height: 356px;
}
.secworbgg{
  margin-top: -430px;
  padding: 0;
}
.sec-space-left-right-nav {
  padding: 0px 60px;
}
.aboutpagetext h3{
  font-family: 'Libre Baskerville';
  font-size: 80px;
  color: #fff;
  padding-top: 30px;
}
.impsec2bgg {
  padding: 67px 5px;
}

}




@media only screen and (max-width:1100px) {
  .offcanvas-header {
    background: #000;
}
a.nav-link.px-4.headermenusec {
  color: #000;
  padding: 0px 0px 10px 0px;
}
.headermenusec2btn {
  background: transparent;
  color: #000;
  padding: 0px 0px 0px 26px !important;
}
  button.navbar-toggler {
    height: 55px;
    border: 2px solid #DE968D;
}
.maiheadertittle h1 {
  font-size: 60px;
}
br{
  display: none;
}
.sebbtnhom {
  font-size: 10px;
  padding: 12px 14px;
}
.maiheadertittle p {
  font-size: 25px ;
}
.secsubp {
  font-size: 55px !important;
}
.secsubp2 {
  font-size: 70px !important;
}
.secpaddd {
  padding: 50px 10px 40px 10px !important;
}
.col-md-2.secwitser {
  width: 33%;
} 
.sextitall3 h4 {
  font-size: 38px;
}
.secteamtext h4 {
  font-size: 18px;
}
.secteamtext p {
  font-size: 16px;
}
.sextitall5 h4 {
  font-size: 30px;
}
.sectestibg {
  height: 250px;
}
.secimgww {
  margin-bottom: 20px;
}
.sextitall h4 {
  font-size: 30px;
}
.secnewtext h4 {
  font-size: 19px;
}
.footerbg2 {
  background: #27252A;
  padding-bottom: 30px;
}
.teamimg {
  width: 100%;
  height: auto;
}
.seccometext {
  font-size: 45px;
}
.sec-menu-btn22 {
  font-size: 13px;
  padding: 10px 14px;
}
.sec-sev-book-h {
  font-size: 20px;
}
.sec-ser-hh {
  font-size: 25px;
}
.impsec2bgg {
  padding: 33px 5px;
}
.secshobgg h4 {
  font-size: 22px;
}
.secshobgg p {
  font-size: 14px;
}
.secshobgg {
  height: 445px;
}
.secfonnow {
  font-size: 32px;
}
.seccometext1 {
  font-size: 50px;
}
.secclouytext {
  font-size: 40px;
}
.secoudebg h5 {
  font-size: 24px;
}
.secmainheader4 {
  padding-bottom: 110px;
}
.abbtext img {
  padding-bottom: 0px;
}



}







@media only screen and (max-width:999px) {
  .offcanvas-header {
    background: #000;
}
a.nav-link.px-4.headermenusec {
  color: #000;
  padding: 0px 0px 10px 0px;
}
.headermenusec2btn {
  background: transparent;
  color: #000;
  padding: 0px 0px 0px 26px !important;
}
  button.navbar-toggler {
    height: 55px;
    border: 2px solid #DE968D;
}
  .maiheadertittle h1 {
    font-size: 50px;
  }
  br{
    display: none;
  }
  .seccooww{
    width: 50%;
  }   
  .sextitall h4 {
    font-size: 36px;
  }
  .secsubp2 {
    font-size: 80px !important;
  }
  .secwitser {
    width: 33.33%;
}
.secallbtn {
  padding-top: 30px;
  padding-bottom: 40px;
}
.secourtext {
  font-size: 14px;
}
.secletbg p {
  font-size: 14px;
}
.sextitall2 h4 {
  font-size: 36px;
}
.sechodbg {
  padding: 60px 10px;
}
.sextitall3 h4 {
  font-size: 26px;
}
.coutext a p {
  font-size: 15px;
}
.imgsetbgg {
  margin-top: -124px;
}
.seccourbg {
  padding: 60px 10px 185px 10px;
}
.sextitall4 h4 {
  font-size: 38px;
}
.teamimg {
  width: 100%;
  height: auto;
}
.secteamtext h4 {
  font-size: 13px;
}
.secteamtext p {
  font-size: 12px;
}
.sextitall5 h4 {
  font-size: 34px;
}
.revimgss {
  width: 21% !important;
}
.secnewtext h4 {
  font-size: 19px;
}
.shadow.p-5.mb-5.bg-white.rounded {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0px !important;
}
.sec-bord-serv {
  border-bottom: 1px solid #DCDCDC;
  padding: 20px 0px 20px 0px;
  width: 47%;
  border: 1px solid #DE968D;
  margin: 3px;
  text-align: center;
}
.sec-sev-book-p {
  padding-top: 10px;
  line-height: normal;
  padding-bottom: 10px;
}
.sec-sev-book-h {
  font-size: 17px;
}
.impsec2bgg {
  padding: 26px 5px;
}
#Impactsec .counter-box span , #Impactsec .counter-box {
  font-size: 24px;
}
.impsec2bgg p {
  font-size: 13px !important;
}
.secpaddleftright h3 {
  font-size: 40px;
}
.secshobgg h4 {
  font-size: 15px;
}
.secshobgg p {
  font-size: 10px;
}
.secshobgg {
  height: 386px;
}
.secValuesbg {
  padding: 30px;
}
.valimg h3 {
  font-size: 14px;
}
img.img-fluid.secimgw {
  width: 47%;
}
.secmmrr{
  padding-top: 40px;
}
.footerbg {
  padding: 40px 10px 10px 10px;
}
.counter-box p {
  font-size: 13px !important;
}
.secabteexxt {
  padding: 50px 0px 0px 0px;
}
.abbtext img {
  padding-bottom: 0px;
}
}













@media only screen and (max-width:767px) {
  .shadow.p-5.mb-5.bg-white.rounded {
    display: flex;
    margin-bottom: 0px !important;
    flex-wrap: nowrap;
    flex-direction: column;
}
.sec-bord-serv {
  border-bottom: 1px solid #DCDCDC;
  padding: 20px 0px 20px 0px;
  width: 100%;
  border: 1px solid #DE968D;
  margin: 3px;
  text-align: center;
}
  .offcanvas-header {
    background: #000;
}
a.nav-link.px-4.headermenusec {
  color: #000;
  padding: 0px 0px 10px 0px;
}
.headermenusec2btn {
  background: transparent;
  color: #000;
  padding: 0px 0px 0px 26px !important;
}
  button.navbar-toggler {
    height: 55px;
    border: 2px solid #DE968D;
}
a.navbar-brand {
  width: 40%;
}
  .maiheadertittle h1 {
    font-size: 45px;
    padding-top: 50px;
}
.secnewbbgg {
  padding: 30px 0px 0px 0px;
}

.seccooww{
  width: 50%;
}
br{
  display: none;
}
.container-fluid.pt-3.sec-menu-bgg {
  padding: 0px;
}
.secmobilepadd{
  padding: 0;
}
.maiheadertittle p {
  font-size: 18px;
  padding-bottom: 20px;
}
button.btn.btn-primary.videbttn {
  padding-top: 10px;
  padding-left: 0px;
}
.sextitall h4 {
  font-size: 22px;
}
.sextitall p {
  font-size: 15px;
}
.sextitall3 h4 {
  font-size: 22px;
}
.abbtext p {
  margin: 0;
  font-size: 15px;
}
.secsubp2 {
  font-size: 75px !important;
}
.abbtext img{
  padding-bottom: 40px;
}
.secourtext {
  font-size: 16px;
  padding-top: 20px;
}
.secallbtn {
  padding-top: 30px;
  padding-bottom: 50px;

}
.secletbg p {
  font-size: 14px;
}

.sextitall2 p {
  font-size: 15px;
}

.sextitall2 h4 {
  font-size: 22px;
}
.secwitser{
  width: 50%  !important;
}
.secbggser h4 {
  font-size: 15px;
}
.sechodbg {
  padding: 20px 0px;
}
.sextitall3 p{
  font-size: 15px;
}
.accordion-button:not(.collapsed) {
  font-size: 17px;
}
button.accordion-button.collapsed {
  font-size: 17px;
}
.seccourall {
  border: 1px solid #b3b3b3;
  margin-bottom: 25px;
}
.imgsetbgg {
  margin-top: -52px;
  text-align: center;
  padding-bottom: 50px;
}
.seccourbg {
  padding: 60px 10px 102px 10px;
}
.sextitall4 p{
  font-size: 15px;
}
.sextitall4 h4{
  font-size: 22px;
}
.secallbtn3 {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: start;
}
.teamimg {
  width: 100%;
  height: auto;
}
.secteam{
  border: 1px solid #e9e1e1;
  margin-bottom: 25px;
}
.sextitall5 p{
  font-size: 15px;
}
.sextitall5 h4{
  font-size: 22px;
}
.revimgss {
  width: 22% !important;
  margin: auto;
}
.sectestibg {
  height: auto;
  text-align: center;
}
.secrevimg p {
  padding-top: 20px;
}
.revimgss2 {
  width: 55% !important;
  margin: auto;
  padding: 10px 0px;
}
.secpaco {
  padding: 10px 0px;
}
.sectembg {
  padding: 20px 0px 30px 0px;
}
.secworbgg {
  margin-top: 0px;
  padding: 0;
}
.secimgww{
  padding-bottom: 20px;
}
.secnewbgg {
  border: 1px solid #e9e1e1;
  margin-bottom: 25px;
  padding: 5px;
}
.secwwcount{
  width: 50%;
}
.counter-box {
  display: block;
  text-align: center;

}
.counter-box p {
  font-size: 13px !important;
}
.footerbg {
  padding: 40px 10px 0px 10px;
}
.seccpaddmob{
  padding: 0px;
}

#subscription_area {
  margin-top: 10px;
}
.newheadtext {
  padding-top: 30px;
}
.menusec {
  padding-top: 10px;
}
.footerbg2 {
  padding-bottom: 30px;
}
.seccopy {
  text-align: center;
}
.sectefle {
  text-align: center;
}
.secabbimgho {
  margin-top: -98px;
}
.secmainheader2 {
  padding-bottom: 152px;
}
.aboutpagetext p , .secabteexxt p{
  font-size: 16px !important;
}
.secabteexxt {
  padding: 50px 0px 0px 0px;
}
.secValuesbg {
  padding: 50px 0px;
}
.valumain {
  display: flex;
  justify-content: space-evenly;
  padding: 30px 0px 0px 0px;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-content: flex-start;
}
.valimg {
  text-align: center;
  width: 47%;
  border: 1px solid #DE968D;
  margin-bottom: 10px;
  padding: 10px;
}
.valimg h3 {
  font-size: 15px;
}
.secimgw{
  width: 42% !important;
}
.seccometext {
  font-size: 25px;
}
.sec-erv-book {
  padding: 60px 0px 0px 0px;
}
.secformpading {
  padding: 0px;
}
.sec-ser-hh {
  font-size: 20px;
}
.shadow.p-5.mb-5.bg-white.rounded {
  padding: 50px 10px 10px 10px !important;
}
.sec-sev-book-p {
  line-height: normal;
}
.sec-cent-c {
  text-align: center;
}
.sec-menu-btn22 {
  font-size: 15px;
}
.sec-sev-book-h {
  font-size: 19px;
  text-align: center;
}
.seccometext1 {
  font-size: 35px;
}
.seccoursbg {
  border: 1px solid #DE968D;
  margin-bottom: 20px;
}
.seccoursbg p {
  padding-top: 10px;
  padding-bottom: 0px;
  margin: 0px;
  padding-left: 4px;
}
.secabbimgho4 {
  padding-bottom: 30px;
  margin-top: -117px;
}
.secmainheader4 {
  padding-bottom: 150px;
}

.secaretext , .secaretext2{
  font-size: 16px;
}
.secclouytext {
  font-size: 40px;
}
.secoudebg {
  margin-bottom: 10px;
}
.secoudebg h5 {
  font-size: 25px;
}
.secoudebg2 p {
  font-size: 16px;
}
.coubgsec {
  padding-bottom: 30px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
}
.sechaddptex {
  font-size: 16px;
}
.seccolww{
  width: 50%;
}
.secpaddleftright {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 40px;
}
.secpaddleftright h3 {
  font-size: 30px;
}
.impsec2bgg {
  padding: 37px 0px;
  margin-bottom: 20px;
}
#Impactsec {
  padding: 0px 10px 20px 10px;
}
#Impactsec .counter-box span {
  font-size: 32px;
}
#Impactsec .counter-box {
  font-size: 32px;
}
.sectextff {
  font-size: 30px;
  text-align: center !important;
}
form#fanchisform {
  padding-top: 25px;
}
form#fanchisform {
  padding-top: 25px;
}
.secpddww{
  padding: 0px;
}
.secshobgg {
  height: auto;
  margin-bottom: 20px;
}
.secfonnow{
  font-size: 23px !important;
}

.secfranbtn {
  margin-bottom: 40px;
}
.secpaadwpp{
  padding-top: 20px;
}
}























