.secmainheader {
    background-image: url(../images/maiheadertittle.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    padding-bottom: 100px;
}

a.nav-link.px-4.headermenusec {
    font-size: 15px;
    text-transform: uppercase !important;
    font-weight: 600;
    font-family: 'Manrope';
    color: #fff;
}

a.nav-link.dropdown-toggle.headermenusec {
    font-size: 15px;
    text-transform: uppercase !important;
    font-weight: 600;
    font-family: 'Manrope';
    color: #fff;
}

.headermenusec2btn {
    background: #DE968D;
    font-size: 15px;
    text-transform: uppercase !important;
    font-weight: 600;
    font-family: 'Manrope';
    color: #fff;
}

.maiheadertittle h1 {
    font-size: 90px;
    font-family: 'Libre Baskerville';
    color: #fff;
}

.maiheadertittle p {
    font-family: 'Manrope';
    color: #DE968D;
    font-size: 25px;

}

.headermenusec2btn:hover {
    color: #DE968D;
    background: #fff;
}

.sebbtnhom {
    background: #DE968D;
    font-size: 13px;
    text-transform: uppercase !important;
    font-weight: 700;
    font-family: 'Manrope';
    color: #fff;
    padding: 15px 24px;
    text-decoration: none;
}

.sebbtnhom:hover {
    color: #DE968D;
    background: #fff;
}

.btnsecall {
    padding-top: 20px;
}

button.btn.btn-primary.videbttn {
    background: transparent;
    border: 0px;
}

.secsubp {
    font-size: 60px !important;
    font-family: 'Libre Baskerville' !important;
    color: #fff !important;
}

.secsubp span {
    font-family: 'Manrope' !important;
    margin-left: -20px;
}

.secstart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.secpaddd {
    padding: 50px 10px 0px 10px;
}

.sextitall p {
    font-family: 'Manrope';
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: #DE968D;
    text-align: center;
}

.sextitall h4 {
    font-family: 'Libre Baskerville';
    font-size: 48px;
    text-transform: capitalize;
    text-align: center;
    color: #27252A;
}

.secp {
    padding-top: 20px;
}

.abbtext p {
    font-family: 'Libre Baskerville';
    font-size: 20px;
}

.secsubp2 {
    font-size: 100px !important;
    font-family: 'Libre Baskerville' !important;
    color: #DE968D !important;
}

.secsubp2 span {
    font-family: 'Manrope' !important;
    margin-left: -20px;
}

.secourtext {
    font-family: 'Libre Baskerville';
    font-size: 16px;
    color: #89868D;
}

.secallbtn {
    padding-top: 30px;
}

.secallbtn a {
    font-family: 'Manrope';
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    background: #DE968D;
    border: 1px solid #DE968D;
    padding: 15px 30px;
    color: #fff;
    text-decoration: none;
}

.secallbtn a:hover {
    background: #fff;
    border: 1px solid #89868D;
    color: #DE968D;
}

.secletbg {
    background: #DE968D;
    padding: 20px 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.secletbg p {
    margin: 0;
    font-family: 'Libre Baskerville';
    font-size: 20px;
    color: #fff;
}

.secletbg2 {
    background: #27252A;
    padding: 20px 10px;
}

.secstbg {
    padding: 0px;
}

.sextitall2 p {
    font-family: 'Manrope';
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: #DE968D;
}

.sextitall2 h4 {
    font-family: 'Libre Baskerville';
    font-size: 48px;
    text-transform: capitalize;
    color: #27252A;
}

.secbggser {
    background: #E7E7E7;
    padding: 10px;
    margin-top: 20px;
}

.secbggser p span {
    background: #DE968D;
    color: #fff;
    border-radius: 50px;
    padding: 5px 6px 5px 6px;
}

.secservimg {
    text-align: center;
}

.secbggser h4 {
    font-family: 'Libre Baskerville';
    font-size: 20px;
    color: #27252A;
    text-align: center;
    padding-top: 10px;
}


.secallbtn2 {
    padding-top: 50px;
    text-align: center;
}

.secallbtn2 a {
    font-family: 'Manrope';
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    background: #DE968D;
    border: 1px solid #DE968D;
    padding: 15px 40px;
    color: #fff;
    text-decoration: none;
}

.secallbtn2 a:hover {
    background: #fff;
    border: 1px solid #89868D;
    color: #DE968D;
}

.sechodbg {
    background-image: url(../images/chose-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    padding: 60px;
}

.sextitall3 p {
    font-family: 'Manrope';
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: #DE968D;
}

.sextitall3 h4 {
    font-family: 'Libre Baskerville';
    font-size: 48px;
    text-transform: capitalize;
    color: #fff;
}

button.accordion-button.collapsed {
    background-color: #27252A;
    border-bottom: 1px solid #89868D;
    color: #fff;
    font-family: 'Libre Baskerville';
    font-size: 20px;
    padding-left: 0px !important;
    border-radius: 0px;
}

.accordion-item {
    border: 0px;
}

.accordion-button:not(.collapsed) {
    background: #27252A !important;
    border: 0px !important;
    box-shadow: none !important;
}

button:focus:not(:focus-visible) {
    outline: 0;
    color: #DE968D !important;
    font-size: 20px;
    font-family: 'Libre Baskerville';
}

.accordion-body {
    background: #27252A;
    padding-left: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin: 0px;
    border-bottom: 1px solid #89868D;
}

.accordion-body p {
    color: #fff !important;
    padding-bottom: 20px;
    padding-bottom: 0px;
}

.accordion-button:focus {
    box-shadow: none !important;
}

.accordion-item {
    background-color: #27252A;
}

.accordion-button:not(.collapsed) {
    color: #DE968D !important;
    font-size: 20px;
    font-family: 'Libre Baskerville';
    padding-left: 0px !important;
}

.accordion-button::after {
    background-image: url(../images/plus-icon.png) !important;
}

.accordion-button:not(.collapsed)::after {
    background-image: url(../images/mins-icon.png) !important;
}

.accordion-item:first-of-type .accordion-button {
    border-bottom: 1px solid #89868D;
    padding-left: 0px !important;
}

.seccourbg {
    background-image: url(../images/COURSES-BG.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 10px 300px 10px;
}

.sextitall h6 {
    text-align: center;
    font-family: 'Libre Baskerville';
    font-size: 16px;
}

.secpaco {
    padding-top: 30px;
}

.coutext {
    border-bottom: 1px solid #cbcbcba9;
}

.coutext a {
    text-decoration: none;
}

.coutext a p {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
    padding: 10px 10px;
    font-family: 'Libre Baskerville';
    font-size: 22px;
    color: #27252A;
}

.secsriimg {
    width: 70%;
}

.imgsetbgg {
    margin-top: -220px;
    text-align: end;
    padding-bottom: 80px;
}

.sextitall4 p {
    font-family: 'Manrope';
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: #DE968D;
}

.sextitall4 h4 {
    font-family: 'Libre Baskerville';
    font-size: 48px;
    text-transform: capitalize;
    color: #27252A;
}

.secallbtn3 {
    padding-top: 90px;
    text-align: end;

}

.secallbtn3 a {
    font-family: 'Manrope';
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    background: #27252A;
    padding: 15px 40px;
    color: #fff;
    text-decoration: none;
}

.secallbtn3 a:hover {
    background: #DE968D;
    color: #fff;
}

.sectembg {
    padding: 20px 0px 50px 0px;
}

.teamimg {
    width: 100%;
    height: 286px;
}

.secteamshree {
    margin-top: -55px;
    text-align: end;
    margin-right: 10px;
}

.secteamshree p span {
    background: #fff;
    padding: 18px 20px;
}

.secteamshree p a span i {
    color: #DE968D;
}

.secteamshree p span:hover {
    background: #DE968D;
}

.secteamshree p span:hover i {
    color: #fff;
}

.secteamtext {
    padding-top: 30px;
}

.secteamtext h4 {
    font-family: 'Libre Baskerville';
    font-size: 22px;
    color: #27252A;
}

.secteamtext p {
    font-family: 'Libre Baskerville';
    color: #89868D;
    font-size: 18px;
}

.secmarqbg {
    background: #DE968D;
    padding: 12px 10px 5px 10px;
}

.secmarqbg p {
    margin: 0px;
    font-family: 'Libre Baskerville';
    font-size: 22px;
    color: #fff;
}

.testsecbg {
    background: #27252A;
    padding: 50px 10px 20px 10px;
}

.sextitall5 p {
    font-family: 'Manrope';
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: #DE968D;
    text-align: center;
}

.sextitall5 h4 {
    font-family: 'Libre Baskerville';
    font-size: 48px;
    text-transform: capitalize;
    text-align: center;
    color: #fff;
}

.sectestibg {
    background: #fff;
    padding: 20px;
    height: 220px;
}

.revimgss {
    width: 58% !important;
}

.secrevimg {
    border-right: 1px solid #e9e9ea;
}

.secrevimg p {
    font-family: 'Libre Baskerville';
    font-size: 16px;
    color: #27252A;
    padding-top: 50px;
    margin: 0;
}

.revimgss2 {
    width: 80% !important;
}

.secrevtext h4 {
    font-family: 'Libre Baskerville';
    font-size: 16px;
    color: #89868D;
    font-weight: 400;
}

.secrevtext h6 {
    font-family: 'Libre Baskerville';
    font-size: 18px;
    color: #27252A;
    margin: 0;
    padding-top: 20px;
}

.secrevtext p {
    font-family: 'Libre Baskerville';
    font-size: 14px;
    color: #89868D;
}

.secrecbbgg {
    padding-top: 20px;
}

.testid .owl-dots {
    text-align: center;
    padding-top: 15px;
}

.testid .owl-dots button.owl-dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    background: #ccc;
    margin: 0 3px;
}

.testid .owl-dots button.owl-dot.active {
    background-color: #DE968D;
}

.testid .owl-dots button.owl-dot:focus {
    outline: none;
}

.testid .owl-nav {
    display: none;
}

.seccheck {
    color: #fff;
    font-size: 16px;
    font-family: 'Manrope';
}

.secinpart {
    color: #DE968D;
    font-size: 20px;
    font-family: 'Manrope';
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 30px;
}

.secworbgg {
    margin-top: -430px;
    padding: 0;
}

.secnewtext p {
    font-family: 'Libre Baskerville';
    font-size: 16px;
    color: #27252A;
}

.secnewtext p span {
    background: #DE968D;
    padding: 5px 15px;
    color: #fff;
    font-size: 16px;
    border-radius: 50px;
    font-family: 'Libre Baskerville';
}

.secnewtext h4 {
    font-family: 'Libre Baskerville';
    font-size: 22px;
    color: #27252A;
}

.secnewtext2 p {
    font-size: 16px;
    font-family: 'Manrope';
    color: #89868D;
    padding-top: 10px;
}

.secnewbbgg {
    padding-top: 30px;
}

.secredbtn a {
    text-decoration: none;
    font-size: 16px;
    font-family: 'Manrope';
    color: #89868D;
    text-transform: uppercase;
}

.secredbtn a:hover {
    color: #DE968D;
}

.seccountbg {
    background: #DE968D;
    padding: 20px 10px;
}

.counter-box {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Libre Baskerville';
    font-size: 36px;
    color: #fff;
}

.counter-box span {
    font-family: 'Libre Baskerville';
    font-size: 36px;
    color: #fff;
}

.counter-box p {
    font-family: 'Manrope' !important;
    font-size: 16px !important;
    color: #fff;
    padding-left: 10px;
    margin: 0;
}

.footerbg {
    background-image: url(../images/footerbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 10px;
}

.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

button.btn.btn-default {
    background: #DE968D !important;
    border-radius: 0px;
    font-size: 30px;
    color: #fff;
}

#subscription_area {
    margin-top: 50px;
}

.newheadtext {
    font-family: 'Libre Baskerville';
    font-size: 20px;
    color: #fff;
}

.menusec {
    padding-top: 20px;
}

.menusec p {
    margin: 0px;
    padding-bottom: 8px;
}

.menusec p a {
    font-family: 'Libre Baskerville';
    font-size: 16px;
    color: #ffffff7c;
    text-decoration: none;
}

#subscription_area input.form-control {
    background: #45414B !important;
    border: 0px !important;

}

::placeholder {
    color: #ffffff7c !important;
}

.seclettrp {
    font-family: 'Libre Baskerville';
    font-size: 16px;
    color: #ffffff7c;
    text-decoration: none;
}

.seclettrp i {

    color: #DE968D;
}

.footerbg2 {
    background: #27252A;
}

.seccopy {
    font-family: 'Libre Baskerville';
    font-size: 14px;
    color: #ffffff7c;
}

.sectefle {
    color: #ffffff7c !important;
}

.teartextsec {
    font-family: 'Libre Baskerville';
    font-size: 14px;
    color: #ffffff7c;
    text-decoration: none;
}

.aboutpagetext h3 {
    font-family: 'Libre Baskerville';
    font-size: 50px;
    color: #fff;
    padding-top: 30px;
}

.aboutpagetext p {
    font-family: 'Barlow';
    font-size: 18px;
    color: #fff;
}

.secmainheader2 {
    background-image: url(../images/maiheadertittle.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    padding-bottom: 290px;
}

.secabbimgho {
    margin-top: -210px;
}

.secabbimgho {
    text-align: center;
}

.secabteexxt {
    padding: 50px 0px;

}

.secimgaaabb {
    width: 80%;
}

.secabteexxt p {
    font-family: 'Manrope' !important;
    font-size: 18px !important;
    color: #000;
    text-align: center;
}

.secValuesbg {
    padding: 60px;
}

.valtext {
    text-align: center;
    font-family: 'Libre Baskerville';
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    color: #202031;
}

.valumain {
    display: flex;
    justify-content: space-evenly;
    padding: 30px 30px 0px 30px;
}

.valimg {
    text-align: center;
}

.valimg h3 {
    text-align: center;
    font-family: 'Libre Baskerville';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    color: #202031;
    padding-top: 20px;
}

.seccometext {
    text-align: center;
    font-family: 'Libre Baskerville';
    font-size: 70px;
    font-style: normal;
    text-transform: capitalize;
    font-weight: 700;
    color: #DE968D;
}

label {
    font-family: 'Libre Baskerville';
    font-size: 18px;
    color: #fff;
    text-align: left;
}

.secabbimgho2 {
    margin-top: -210px;
}

.form-control {
    font-family: 'Roboto' !important;
    font-size: 18px !important;
    color: #9E9E9E !important;
}

.sec-menu-btn2 {
    background: #DE968D;
    font-family: 'Manrope';
    font-style: normal;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    padding: 12px 40px;
    border: none;
    border-radius: 0px;
}

.sec-btn-margin {
    margin-top: 21px;
}

.sec-menu-btn2:hover {
    color: #DE968D;
    background: #fff;
}

.secmainheader3 {
    background-image: url(../images/maiheadertittle.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    padding-bottom: 490px;
}

.secabbimgho3 {
    margin-top: -480px;
}

.sec-erv-book {
    padding: 40px 0px 20px 0px;
}

.sec-ser-hh {
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    color: #000000;
}

.sec-sev-book-h {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 22px;
    color: #000000;
    margin: 0;
}

.sec-sev-book-p {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 20px;
    line-height: 368%;
    margin: 0;
    text-align: center;
    color: #898989;
}

.sec-menu-btn22 {
    background: #DE968D;
    font-family: 'Manrope';
    text-transform: uppercase;
    border: 1px solid #DE968D;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #fff;
    border-radius: 0;
    border: 0;
    padding: 10px 17px;
}

.sec-menu-btn22:hover {
    color: #DE968D;
    background: #fff;
    border: 1px solid #DE968D;
}

.sec-bord-serv {
    border-bottom: 1px solid #DCDCDC;
    padding: 20px 0px 0px 0px;
}

.seccometext1 {
    font-family: 'Libre Baskerville';
    font-size: 70px;
    font-style: normal;
    text-transform: capitalize;
    font-weight: 700;
    color: #fff;
    padding-top: 30px;
}

.seccoursbg p {
    font-family: 'Libre Baskerville';
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    color: #000;
    padding-top: 10px;
    padding-bottom: 10px;
}

.secmainheader4 {
    background-image: url(../images/maiheadertittle.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    padding-bottom: 200px;
}

.secabbimgho4 {
    margin-top: -180px;
    padding-bottom: 50px;
}

.seccoursbg a {
    text-decoration: none;
}
.seccoubgg2{
    padding-top: 0px !important;
}
.secnewbgg{
    padding-bottom: 50px;
}
.sechaddptex{
    color: #fff;
    font-size: 18px;
    font-family: 'Manrope';
}
.secaretext{
 font-size: 18px;
    font-family: 'Manrope';
    padding-top: 20px;
}
.secmp h3{
    font-family: 'Libre Baskerville';
    font-size: 40px;
    color: #000;
}

.impsec2bgg {
    background-color: #DE968D;
    border-radius: 50%;
    text-align: center;
    padding: 52px 5px;
}

#Impactsec .counter-box {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Libre Baskerville';
    font-size: 36px;
    color: #000;
}

#Impactsec .counter-box span {
    font-family: 'Libre Baskerville';
    font-size: 40px;
    color: #000;
}

.impsec2bgg p{
    font-family: 'Manrope' !important;
    font-size: 18px !important;
    color: #000;
    padding-left: 10px;
    margin: 0;
}
#Impactsec{
    padding: 0px 10px 50px 10px;
}
.secddp {
    display: flex;
    align-content: center;
    align-items: center;
}
#fanchisform ::placeholder {
    color: #9E9E9E !important;
}
#fanchisform label {
    font-family: 'Roboto';
    font-size: 18px;
    color: #000;
    text-align: left;
}
.secfranbtn{
    background: #DE968D;
    border: 1px solid #DE968D;
    padding: 10px 40px;
    font-family: 'Manrope';
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    border-radius: 0;
}
.secfranbtn:hover{
    background: #fff;
    border: 1px solid #DE968D;
    color: #DE968D;
}
.secfeebg{
    padding: 20px 0px 50px 0px;
}
.secccllbgg{
    background: #DE968D;
    padding-bottom: 20px;
    text-align: center;
}
.sectextff{
    font-family: 'Libre Baskerville';
    color: #fff;
    font-size: 40px;
    padding-top: 30px;
    text-align: start  !important;
    padding-left: 5px;
}
.secpaddleftright{
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}
.secpaddleftright h3{
    font-family: 'Libre Baskerville';
    color: #202031;
    font-size: 60px;
    text-align: center;
}
.secshobgg{
    background: #FFECDB;
    padding: 20px;
    height: 410px;
}
.secshobgg h4{
    font-family: 'Libre Baskerville';
    color: #000;
    font-size: 30px;
    padding-top: 20px;
}
.secshobgg p{
    font-family: 'Manrope';
    color: #000;
    font-size: 16px;
}
.secbtnpa{
    padding-bottom: 50px;
}
.secaretext2{
    font-size: 18px;
    font-family: 'Manrope';
}
.secaretext3{
    font-size: 20px;
    font-family: 'Manrope';
    font-weight: 700;
}
.coubgsec{
    padding-bottom: 50px;
}
.secoudebg{
    background: #FFECDB;
    padding: 20px;
}
.secclouytext{
    font-family: 'Libre Baskerville';
    color: #000;
    font-size: 60px;
    text-align: center;
}
.secoudebg h5{
    font-family: 'Libre Baskerville';
    color: #000;
    font-size: 30px;
    text-transform: uppercase;
}
.secoudebg2{
    padding-top: 25px;
}
.secoudebg2 p{
    margin: 0px;
    margin-top: 5px;
    font-size: 18px;
    font-family: 'Manrope';
}
.secoudebg2 p i{
    color: #00B027;
}
.us-bg {
    background: #000;
    padding: 20px;
}
.us-bg h3 {
    color: #DE968D;
    font-family: 'Roboto';
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    padding-bottom: 30px;
}

.sec-map-icon {
    color: #C50;
    font-size: 20px;
    padding-right: 20px;
    padding-top: 9px;
}
.sec-location {
    color: #fff;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
}
.secmainheader44 {
    background-image: url(../images/maiheadertittle.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    padding-bottom: 50px;
}
.secbtnpag{
margin-top: -120px;
margin-left: 120px;
margin-bottom: 150px;
}
.secbtnpag a{
    background: #DE968D;
    border: 1px solid #DE968D;
    padding: 10px 40px;
    font-family: 'Manrope';
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    border-radius: 0;
    text-decoration: none;
}
.secbtnpag a:hover{
    background: #fff;
    border: 1px solid #DE968D;
    color: #DE968D;
}
/* whatsapp */
a{
    text-decoration:none !important;
  }
  .floating_btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    z-index: 1000;
  }
  
  @keyframes pulsing {
    to {
      box-shadow: 0 0 0 30px rgba(232, 76, 61, 0);
    }
  }
  
  .contact_icon {
    background-color: #42db87;
    color: #fff;
    width: 60px;
    height: 60px;
    font-size:30px;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translatey(0px);
    animation: pulse 1.5s infinite;
    box-shadow: 0 0 0 0 #42db87;
    -webkit-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    font-weight: normal;
    font-family: sans-serif;
    text-decoration: none !important;
    transition: all 300ms ease-in-out;
  }
  
  
  .text_icon {
    margin-top: 8px;
    color: #707070;
    font-size: 13px;
  }
